@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:ital@1&display=swap');

body{
    margin: 0;
    padding: 0;
    background:url(./black-background-image-11.jpg.crdownload);
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) skewY(-5deg);
    border: 4px solid #fff;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #1eff4e,0 0 30px #1eff4e , inset 0 0 10px #1eff4e,0 0 30px #1eff4e;
    animation:animate .1s linear infinite;
}
div:before{
    content: '';
    position: absolute;
    bottom: 80px;
    width: 586px;
    left: 0;
    height: 4px;
    background: #fff;
    box-shadow: 0 0 10px #1eff4e,0 0 30px #1eff4e;
    z-index: -1;
}
div:after{
    content: '';
    position: absolute;
    top: 100px;
    width: 586px;
    left: 0;
    height: 4px;
    background: #fff;
    box-shadow: 0 0 10px #1eff4e,0 0 30px #1eff4e;
    z-index: -1;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    text-shadow: 0 0 10px #1eff4e,0 0 20px #1eff4e ,0 0 80px #1eff4e,0 0 120px #1eff4e ;
}
h1 span{
    animation: animate .5s linear infinite;

}
h1 span:nth-child(1){
    animation-delay: .25s;
}
h1 span:nth-child(2){
    animation-delay: .2s;
}
h1 span:nth-child(3){
    animation-delay: .35s;
}
h1 span:nth-child(4){
    animation-delay: .4s;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}