p{
    text-align: center;
    font-size: 60px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-repeat: no-repeat;
    background-image:url("http://s2.picofile.com/file/7327114187/1391_1.png");
    /* background-size: cover; */
    background-position-x:50%;
}
